/* Обнулення */
* {
  padding: 0;
  margin: 0;
  border: 0;
}
*,
*::before,
*::after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
a:focus,
a:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}
nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

* {
  font-family: "Space Mono", monospace;
}

.block1,
.block2,
.block3 {
  background: url(../img/image.jpg) no-repeat;
  width: 1440px;
  height: 900px;
}

/* CONTANT-LEFT */

.contant-left {
  width: 392px;
  height: 614px;
  flex-shrink: 0;
  margin-top: 10px;
  margin-left: 100px;
  margin-top: 80px;


  float: left;

  border-radius: 40px;
  background: #f4f4f4;
}

.day {
  color: #000;
  font-size: 37px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.time {
  color: #000;
  font-size: 67px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.opened {
  text-align: right;
  color: #000;
  font-size: 17px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;

  padding: 14px;
}

hr {
  background: #000;
  height: 1px;
  width: 330px;

}

.botton {
  padding: 32px;
}

.theme {
  color: #000;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;

  padding-top: 24px;
}

.need {
  color: #000;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;

  padding-bottom: 24px;

}

.aadress {
  color: #000;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;

  padding-top: 14px;

}



.checkbox {
  width: 20px;
  height: 20px;

}

.checkbox-group {
  padding-bottom: 24px;
}

/* CONTAINER RIGHT */

.regist {
  padding: 32px;
}

.contant-right {
  width: 830px;
  height: 614px;

  border-radius: 40px;
  background: #f4f4f4;

  margin-right: 60px;
  margin-top: 80px;

  float: right;
}

.reg {
  display: inline-block;
  color: #000;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;

}

.places {
  display: inline-block;
  color: #000;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  margin-left: 14px;
}

.number {
  color: #000;
  font-size: 14px;
  font-style: italic;
  font-weight: 700;
  line-height: normal;


}

.cancel-was {
  display: flex;
  display: inline-block;
  float: right;
}

.cancel {
  display: inline-flex;
  padding: 10px 30px;
  justify-content: center;
  align-items: center;
  gap: 10px;

  margin-right: 24px;

  border-radius: 20px;
  background: #e3e5e7;
}

.was {
  display: inline-flex;
  padding: 10px 30px;
  justify-content: center;
  align-items: center;
  gap: 10px;

  border-radius: 20px;
  background: #e3e5e7;
}

/* NAME-SURNAME */

.name-surname {
}

.registr {
  display: flex;
}

.name-type,
.type-surname {
  padding: 14px 32px;
}

.name {
  color: #000;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;

  margin-bottom: 8px;


}

.surname {
  color: #000;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;

  margin-bottom: 8px;
}

.type-name {
  width: 344px;
  height: 51px;

  padding-left: 14px;

  border-radius: 20px;
  background: #e3e5e7;
}

/* AGE-PHONE-CITY */

.info-age-num-city {
  padding: 14px 32px;
}

.info-user {
  display: flex;
}

.age,
.photo-number,
.city {
  color: #000;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;

  margin-bottom: 9px;
}

.age-text {
  width: 139px;
  height: 51px;
  flex-shrink: 0;

  margin-right: 40px;
  padding-left: 14px;

  border-radius: 20px;
  background: #e3e5e7;
}

.photo-number-text {
  width: 344px;
  height: 51px;
  flex-shrink: 0;

  margin-right: 40px;
  padding-left: 14px;

  border-radius: 20px;
  background: #e3e5e7;
}

.city-text {
  width: 177px;
  height: 51px;
  flex-shrink: 0;

  padding-left: 18px;

  border-radius: 20px;
  background: #e3e5e7;
}

/* INST-EMAIL */

.email-inst {
  padding: 14px 32px;
}

.inst-gmail {
  display: flex;
}

.inst-text {
  color: #000;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;

  margin-right: 38px;
  margin-bottom: 8px;

}

.inst {
  width: 406px;
  height: 51px;
  flex-shrink: 0;

  padding-left: 14px;

  border-radius: 20px;
  background: #e3e5e7;
}

.gmail-text {
  color: #000;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;

  margin-left: 38px;
  margin-bottom: 8px;
}

.gmail {
  width: 282px;
  height: 51px;
  flex-shrink: 0;

  padding-left: 14px;
  margin-left: 40px;


  border-radius: 20px;
  background: #e3e5e7;
}

/* FOOTER BUTTON-P */

.footer-button {
  padding: 40px 32px;
}

.end-button {
  display: flex;
  display: inline-block;
  padding: 10px 30px;
  justify-content: center;
  align-items: center;
  gap: 10px;

  margin-left: 50px;

  border-radius: 20px;
  background: #000;
  color: #f4f4f4;
}

.text-footer {
  display: flex;
  display: inline-block;
  color: #6b7280;
  font-size: 11px;
  font-style: normal;
  font-weight: 700;

}

/* BLOCK-2 */

.content-top {
  padding: 0 32px;
}

.content-bottom {
  padding: 0 32px;
}

.float {
  float: left;
}

.containers {
  display: flex;
  display: inline-block;
  width: 784px;
  height: 201px;
  flex-shrink: 0;

  margin-top: 18px;
  margin-left: 24px;

  border-radius: 40px;
  background: #f4f4f4;
}

.header-container {
  padding: 10px 32px;
}

.happy {
  color: #000;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;


}

.phone-num {
  color: #000;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;

  margin-top: 24px;
}

.phone {
  width: 537px;
  height: 51px;
  flex-shrink: 0;

  padding-left: 14px;

  margin-top: 8px;

  border-radius: 20px;
  background: #e3e5e7;
}

.float2 {
  float: right;
  
  padding: 28px 14px;
}

.vector {
  display: block;
  justify-content: center;
  align-items: center;
  display: inline-flex;
  padding: 10px 30px;
  gap: 10px;

  margin-bottom: 40px;


  border-radius: 20px;
  background: #e3e5e7;
}

.button-end {
  display: block;
  padding: 10px 30px;
  justify-content: center;
  align-items: center;
  gap: 10px;


  border-radius: 20px;
  background: #000;
  color: #f4f4f4;
}

/* MAIN-CONTAINER */

.headline {
  display: flex;
  display: inline-block;

}

.main-container {
  width: 784px;
  height: 323px;
  flex-shrink: 0;

  margin-top: 10px;
  margin-left: 516px;
  padding: 14px 32px;

  border-radius: 40px;
  background: #f4f4f4;
}

.happy2 {
  display: inline-block;
  color: #000;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;

  margin-bottom: 8px;
}

.arrow-button {
  display: flex;
  float: right;
}

.arrow {
  display: flex;
    float: right;

  padding: 10px 30px;
  justify-content: center;
  align-items: center;
  gap: 10px;

  margin-top: 10px;
  margin-right: 40px;

  border-radius: 20px;
  background: #e3e5e7;
}

.arrow-header {
  display: flex;
  float: right;

  margin-left: 240px;
}

.number-phone {
  color: #000;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;

  margin-bottom: 10px;
  margin-top: 20px;
}

.num-phone {
  width: 537px;
  height: 51px;
  flex-shrink: 0;

  padding-left: 14px;

  border-radius: 20px;
  background: #e3e5e7;
}

.party {
  color: #000;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;

  margin-bottom: 10px;
  margin-top: 20px;
}

.card {
  display: inline-block;
  width: 537px;
  height: 51px;
  flex-shrink: 0;

  border-radius: 20px;
  background: #e3e5e7;
}

.button-last {
  padding: 10px 30px;
  justify-content: center;
  align-items: center;
  gap: 10px;

  display: inline-block;
  float: right;


  border-radius: 20px;
  background: #000;
  color: #f4f4f4;
}

.button-footer {
  display: flex;
  float: right;
}

/* BLOCK-3 */

.block3 {
  margin-top: 100px;
}

.contant-left2 {
  width: 392px;
  height: 614px;
  flex-shrink: 0;
  margin-top: 10px;
  margin-left: 70px;
  margin-top: 80px;

  float: left;

  border-radius: 40px;
  background: #f4f4f4;
}

.contant-top {
  padding: 0 32px;
}

.botton {
  padding: 0 32px;

}

.tuch {
  display: flex;
  float: right;
  margin-right: 12px;

}

.tuch:hover {
  background-image: url(../img/y-circle.png);
}

.tuch2 {
  display: flex;
  float: right;

  text-align: center;
  color: #000;
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-left: 20px;
}

.x-circle {
  margin-top: 0;
}

.cancel-reg {
  float: right;
  text-align: center;

  color: #000;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.cross {
  display: flex;
  float: right;

}

.cross:hover {
  background-image: url(../img/y-circle.png);
}

.vector3 {
    display: inline-block;
    float: right;
    justify-content: center;
    align-items: center;
    display: inline-flex;
    padding: 10px 30px;
    gap: 10px;
  
  margin-top: 14px;
  
    border-radius: 20px;
    background: #e3e5e7;
}

.blue-QR {
  float: right;
}

.QR-scr {
  padding: 0 32px;
}

.big-QR {
  margin-top: 30px;
  margin-left: 18px;
}

.screenshot {
  color: #000;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;

  margin-left: 80px;
  margin-top: 50px;
}
